@media screen and (max-width:900px){
    #top-header .row .items ul{
        display: none;
    }
    #top-header{
        .icons-menu{
            display: block;
       }
    }
}


@media screen and (max-width:795px){

    .nav{
        display: none;
    }
}

@media screen and (max-width:1100px){

    .nav{
        .container{
            ul{
                li{
                    a{
                        padding: 0px 20px;

                    }
                }
            }
        }
    }
}

@media screen and (max-width:900px){

    .nav{
        display: none;
    }
}

@media screen and (max-width:750px){
    #hero{
        padding: 40px 0;
        .row{
            .col{
                flex-basis: 100%;
            }
        }
    }
   
}